<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CameraPreview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="4">
      <ion-button (click)="click1()" expand="block" fill="clear" shape="round">
        foto
    </ion-button>
  </ion-col>
  
    <ion-col size="4">
    <ion-button (click)="click2()" expand="block" fill="clear" shape="round">
      rafaga fotos
    </ion-button>
  </ion-col>
  
    <ion-col size="4">
    <ion-button (click)="click3()" expand="block" fill="clear" shape="round">
      para rafaga
    </ion-button>
  </ion-col>
     
  </ion-row>
 
  
  <div class="canvas-wrapper">
    <canvas id="output"></canvas>
    <img [src]="picture" id ="image2">
    <!-- <video id="video" playsinline style="
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      visibility: hidden;
      width: auto;
      height: auto;
      ">
    </video> -->
  </div>
  <div id="scatter-gl-container"></div>
</ion-content>
